.main-brand {
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
    margin: 60px 0;    

}

.story-title {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.story-image {
    width: 100%;
}

.story-text {
    line-height: 1.5;
    font-size: 18px;
}

.row {
    display: flex;
    align-items: stretch;
}

.story {
    border: 1px solid black;
    padding: 5px; 
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.three-quarter {
    width: 75%
}

.nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-item {
    width: 100%;
    flex: 1;
    align-items: center;
    padding-left:  25px;
    font-size: 30px;
    color: #555;
    font-weight: bold;
    font-family: Arial;
}

.nav-item a {
    text-decoration: none;
    color: #555;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item:nth-child(1) {background-color: #ffeaa7}
.nav-item:nth-child(2) {background-color: #81ecec}
.nav-item:nth-child(3) {background-color: #55efc4}
.nav-item:nth-child(4) {background-color: #74b9ff}
.nav-item:nth-child(5) {background-color: #a29bfe}